body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1{
    font-size: 50px;
    color:#615d5b;
}

h2{
    font-size: 40px;
    color:#615d5b;
}

h3{
    font-size: 35px;
}

.inline-clolor-text{
    color: orange;
}

.container{
    display: flex;
}

.diet-part{
    width: 50%;
    padding: 5%;
    margin: 2%;
}

.diet-part img{
    width: 100%;
}


.diet-part p{
    text-align: justify;
    margin-bottom: 50px;
    
 }

 #d-p-text{
    color: grey;
 }
 
 .link-button {
    text-decoration: none;
    color: white;
    padding: 15px 35px;
    border-radius: 25px;
    font-weight: 700;
    background-image: linear-gradient(orange,tomato);
}

.middel-part{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
}

.middel-part-img img {
    width: 76%;
    height: 85%;
    margin-left: 25%;
}

.middel-text {
      margin-right: 10%;
}

#receipe-block{
    margin-left: 5%;
    margin-right: 5%;
}

#recipe-top {
    margin-top: -10%;
}
.recipe h2{
    text-align: center;
}

.recipe p{
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}

.recipe-item {
    width: 30%;
    box-shadow: 15px 10px 30px #e2dcdc;
    padding: 20px;
    border-radius: 15px;
    position: relative;
}

#subcribe {
    padding: 10px;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 6%;
    margin-bottom: 5%;
    border-radius: 15px;
    box-shadow: 5px 10px 30px #e2dcdc;
}

.recipe-item img{
    border-radius: 15px;
}

.footer {
    background-color: black;
    height: 200px;
    color: white;
    text-align: center;
}

.subcribe-item{
    text-align: center;
    width: 33%;
}

.subcribe-item h1{
    color: black;
}

.subcribe-item p{
    margin-top: -50%;
}

span{
    color: orange;
}

div h4{
    color: gray;
    font-size: 30px;
}

.sub-ins-dri{
    margin-top: -50%;
}

